
span.account{
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 7px;
}


.my-mb-4
{
    /* border-bottom: 1px solid black;  */
    margin-bottom: 1.5rem !important;
}


span.my-label {

    margin-right: 5px;
    margin-left: 5px;

}
div.my-card-body{
    padding: 0.75rem 1.25rem;

}
div.my-card{
    margin-top: 8px;
    margin-left: 12px;
}

p.my-par{
    max-width: 500px;
    color:black;
}

ul.my-list{
    color:black;
}


i.my-button-label{
    margin-left: 5px;
}
a.my-btn{

  margin: 3px;
}

.my-hidden{
    display: none;
}
input.account{

}

@-webkit-keyframes blink {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}



.blink_me {

    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;

}
